#gitignore for my homework repo

#basically some homeworks and textbooks I keep
*textbook.pdf
#all executable files, can recompile on local machine
*a.out 

#kept under a separate git
Databases/hw2/
#another repo
CompOrg/Lab1/
CompOrg/COLab2/
#Two large bois in /Databases/hw2
*.csv
#latex files
*review.pdf
*review.log
*review.aux

Databases/hw1/player_statistic.csv
Databases/hw1/match.csv


#./.git/objects/f6/ec7ca25e473d9822f33f8cb12b12d21ab99225
#./Databases/hw1/player_statistic.csv
